@font-face {
    font-family: 'Fixel Variable';
    src: url('../fonts/FixelVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main-container { 
    background: #111828;
    border-radius: 20px;
}

.main-header {
    color: white;
    font-family: 'Fixel Variable', sans-serif !important;
    font-weight: 500 !important;
    font-size: 36px !important;
}

.data-container{
    color: white;
    font-family: 'Fixel Variable', sans-serif !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    background: #111828 !important;
    height: auto !important;
}
.item-id{
    width: 200px;
}
.item-rename{
    width: 300px;
}
.item-name{
    width: 150px;
}

.item-action{
    width: 220px;
}
.item-key{
    color:#a5abcc;
}
.data-row{
    border-radius: 17px !important;
    background-color: #24365b !important;
    height: 50px !important;
    color: white;
}

.button {
    border-radius: 12px;
    color: white;
    font-family: 'Fixel Variable', sans-serif !important;
    font-weight: 400 !important;
    background: linear-gradient(45deg, #9e4ae7, #42099e);
    border: none;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px 0 4px;
}

.button-enter, .button-confirm {
    background: linear-gradient(45deg, #2942e1, #4c07bb);
}
.button-enter, .button-rename{
    width: 80px !important;
}
.button-enter, .button-delete, .button-rename{
    height: 36px;
}
.button-confirm, .button-cancel{
    width: 150px !important;
    border: none !important;
}

.button-delete, .button-cancel {
    background: linear-gradient(45deg, #b31827, #950a42);
}
.button-delete{
    width: 100px;
}

.button-add .button-rename{
    background: linear-gradient(45deg, #9e4ae7, #42099e) !important;
}
.button-add{
    width: 300px;
}
.input-rename{
    width: 200px !important;
    border-radius: 12px  !important;
}