@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.icon{
    width:20px;
    height: 20px;
    object-fit: contain;
}
.reg-label{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-left: 6px;
}
.ac-regulator {
    display: flex;
    align-items: center; 
    gap: 1px;
    border-radius: 8px;
    width: 400px;
    justify-content: space-between;
    height: 32px;
    margin: 8px;
}
.ac-left-content, .ac-right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1px;
}
/* .ac-right-content {
    margin-left: auto;
} */