@font-face {
    font-family: 'Fixel Variable';
    src: url('../fonts/FixelVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.button-arrow {
    border:none !important;
    color: #fff !important;
    width: 30px !important;
}

.button-script{
    width: 100px !important;
    font-size: 14px !important;
    padding: 0 !important;
}

.button-group{
    height: 40px;
    background-color: #4980E5;
    border: 1px solid #4980E5;
}
