@font-face {
    font-family: 'Fixel Variable';
    src: url('../fonts/FixelVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.span-script {
    background-color: #4980E5;
    border-color: #4980E5;
    color: #fff;
    height: 25px;
    line-height: 25px; /* Центрування тексту по вертикалі */
    font-family: 'Fixel Variable', sans-serif !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    display: inline-block; /* Визначаємо ширину для span */
}


.button-arrow {
    background-color: #4980E5 !important;
    border-color: #4980E5 !important;
    border: none !important;
    padding: 0 !important;
    font-size: 15px !important; /* Зменшення шрифта для іконки */
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-arrow .pi {
    font-size: 10px !important; /* Встановлюємо розмір іконки */
}

.icon-button{
    border: none !important;
}