@font-face {
    font-family: 'Fixel Variable';
    src: url('../fonts/FixelVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.temp-list {
    color: white;
    font-family: 'Fixel Variable', sans-serif !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    margin: 0;
    padding: 0;
}

.temp-cube::marker {
    color: #9e4ae7;
}

.temp-cargi::marker {
    color: #e7764a;
}

.temp-defl::marker {
    color: #e74a4a;
}

.temp-water::marker {
    color: #2942e1;
}

.temp-baro::marker {
    color: #70d4cf;
}